.ca-content-panel {
  $block: &;
  z-index: $z-index-panel;
  background: $c-white;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  &__close-icon {
    font-size: 20px;
    color: $c-white;
    position: absolute;
    top: 13px;
    pointer-events: none;
  }
  &__header {
    height: 50px;
    border-bottom: $border-light;
    @include flex-calign;
    background: $c-content-panel-header-bg;
    color: $c-content-panel-header-txt;
  }
  &__title {
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
  }
  &__body {
    flex: 1;
    overflow: auto;
    position: relative;
  }
  &__close-button {
    height: 50px;
    background-color: $c-white;
    width: 100%;
    text-transform: uppercase;
    border-top: $border-light;
  }
  &--left {
    top: 0;
    left: 0;
    width: 90vw;
    #{$block}__close-icon {
      right: -27px;
    }
  }
  &--right {
    top: 0;
    right: 0;
    width: 90vw;
    #{$block}__close-icon {
      left: -27px;
    }
  }
  &--bottom {
    height: 93vh;
    width: 100vw;
    max-width: 100vw;
    left: 0;
    right: 0;
    #{$block}__close-icon {
      display: none;
    }
  }
}
