.ca-display-cart {
  &__products {
    padding: 0 $px12;
  }

  &__product {
    padding: $px12 0;
    &:not(:last-child) {
      border-bottom: $border-light;
    }
  }
  &__empty {
    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
    @include calign;
  }
  &__footer {
    background: $c-lightest-gray;
    padding: $px16 $px12;
  }
  &__total {
    margin-bottom: $px16;
  }
}
