.ca-display-cart {
  &__products {
    padding: 0 $px12;
  }

  &__product {
    padding: $px12 0;

    &:not(:last-child) {
      border-bottom: $border-light;
    }
  }

  &__empty {
    @include calign;

    font-weight: $font-weight-bold;
    font-size: $font-size-xl;
  }
  
  &__footer {
    background-color: $c-lightest-gray;
    padding: $px16 $px12;
  }
  
  &__summary {
    margin-bottom: $px16;
  }
}
