.ca-favorites {
  $block: &;
  
  position: relative;
  margin-right: $px20;

  @include bp(laptop) {
    @include flex-valign;
  }
  
  &__icon {
    font-size: rem-calc(24);
  
    @include bp(laptop) {
      font-size: 1em;
      margin-right: $px4;
    }
  }
  
  &--no-text {
    margin: 0;
  
    #{$block}__icon {
      @include bp(laptop) {
        font-size: rem-calc(24);
      }
    }
  }
}
