.ca-filter-multi {
  padding: $px12 $px16;

  &__value {
    padding: rem-calc(8px) 0 rem-calc(8px) $px32;
    position: relative;
    cursor: pointer;
    display: flex;
    &:first-child {
      margin-top: rem-calc(-12px);
    }
    &::before {
      width: 20px;
      height: 20px;
      content: '';
      display: block;
      background: $c-white;
      border: $border-light;
      @include valign;
      left: 0;
      transition: all 200ms ease;
    }
    &--selected {
      font-weight: $font-weight-bold;
      &::before {
        background-color: $c-accent-color;
        border-color: $c-accent-color;
      }
      .ca-filter-multi__check {
        opacity: 1;
      }
    }
    &--disabled {
      opacity: 0.3;
      pointer-events: none;
    }
    &--hidden {
      display: none;
    }
  }
  &__check {
    opacity: 0;
    @include valign;
    left: 2px;
    transition: opacity 200ms ease;
    color: $c-white;
  }
  &__count {
    margin-left: auto;
    color: $c-text-secondary;
  }
}
