.ca-info-page-menu {
  $block: &;

  &__submenu-list {
    border-top: $border-light;
    padding: rem-calc(10) 0;

    @include bp(phone-only) {
      display: none;
    }
  }

  &__submenu-link {
    display: block;
    padding: rem-calc(6) rem-calc(16) rem-calc(6) rem-calc(30);

    &.nuxt-link-exact-active {
      display: flex;
      justify-content: space-between;
      font-weight: $font-weight-bold;
      
      #{$block}__link-icon {
        opacity: 1;
      }
    }
  }

  @include bp(phone-only) {
    padding: $px20 0;

    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: $px20;
      row-gap: $px20;
      background-color: $c-lightest-gray;
      padding: $px16;
    }

    &__link-icon {
      display: none;
    }

    &__link {
      white-space: nowrap;

      &.nuxt-link-exact-active {
        font-weight: $font-weight-bold;
      }
    }
  }

  @include bp(tablet) {
    &__list {
      border: $border-light;
    }

    &__item {
      &:not(:last-child) {
        border-bottom: $border-light;
      }
    }

    &__link-icon {
      opacity: 0;
    }

    &__link {
      display: flex;
      justify-content: space-between;
      padding: $px16;
      
      &.nuxt-link-exact-active {
        #{$block}__link-icon {
          opacity: 1;
        }
      }
    }
  }
}
