.ca-list-pagination {
  $block: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: clamp(#{rem-calc(30px)}, 6vw, #{rem-calc(70px)});
  margin-bottom: rem-calc(60px);

  &__button {
    @include button;
    @include button-primary;

    overflow-anchor: none;

    &--disabled {
      @include button-disabled;
    }

    &--loading {
      @include button-loading;
    }
  }

  &__button-spinner {
    @include button-spinner;
  }

  &__showing {
    margin-bottom: $px12;
  }

  &__back-link {
    margin: $px12 0 0;
    font-size: $font-size-xs;
    color: $c-text-secondary;
  }
}
