.ca-list-top {
  $block: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0 $px32;

  @include bp(laptop) {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text {
    width: 100%;

    @include bp(laptop) {
      width: 50%;
      max-width: 700px;
    }
  }

  &__title {
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    margin: 0 0 $px4;

    @include bp(tablet) {
      font-size: $font-size-xxl;
      margin: 0 0 $px8;
    }

    &--skeleton {
      margin: 0 auto $px8;

      @include bp(tablet) {
        margin: 0 0 $px8;
      }
    }
  }

  &__description {
    &--skeleton {
      @include bp(tablet-down) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__subcategories {
    margin: $px20 -1.2rem 0 0;
    max-width: 100%;

    @include bp(laptop) {
      margin: -$px8;
      width: 40%;
      max-width: 525px;
    }
  }
}
