.ca-list-filters {
  $block: &;

  @include bp(laptop) {
    border-top: $border-light;
    margin-bottom: $px24;
    padding-top: $px24;
  }

  &__title {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: $px12;
  }

  &__filters {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, minmax(10px, 1fr));
    gap: rem-calc(20px) rem-calc(20px);
  }
}
