.ca-order-summary {
  &.ca-accordion-item {
    border: $border-light;
    background-color: $c-white;
  }
  
  &__header {
    padding: $px12 $px10;
    background-color: $c-white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include bp(tablet) {
      padding: $px16 $px20;
    }
  }
  
  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: rem-calc(3px);
    width: 90%;
    font-size: $font-size-s;

    @include bp(tablet) {
      width: 60%;
      font-size: $font-size-m;
      column-gap: rem-calc(40px);
      row-gap: rem-calc(5px);
    }
  }
  
  &__status {
    font-size: $font-size-s;
  }
  
  &__id,
  &__total {
    font-size: $font-size-m;
    font-weight: $font-weight-bold;

    @include bp(tablet) {
      font-size: $font-size-l;
    }
  }

  &__details {
    padding: 0 $px10 $px10;

    @include bp(tablet) {
      padding: 0 $px24 $px24;
    }
  }

  &__toggle.ca-button {
    line-height: 1;
  }
  
  &__toggle-icon {
    font-size: 20px;
  }
}

.ca-order-detail {
  border-top: $border-light;
  padding: $px10 0 0;

  @include bp(tablet) {
    padding: $px16 0 0;
  }
  
  &__methods {
    display: flex;
    margin: 0 0 $px10;

    @include bp(tablet) {
      justify-content: center;
      font-size: $font-size-m;
      margin: 0 0 $px16;
    }
  }
  
  &__method {
    &:first-child {
      margin: 0 rem-calc(30px) 0 0;

      @include bp(tablet) {
        margin: 0 rem-calc(50px) 0 0;
      }
    }
  }
  
  &__subtitle {
    font-weight: $font-weight-bold;
    margin: 0 0 rem-calc(2px);
  }
  
  &__track {
    margin: 0 0 $px16;
  }
  
  &__cart {
    border-top: $border-light;
    margin: $px16 0 0;
    padding: $px16 0 0;
  }
  
  &__addresses {
    border-top: $border-light;
    margin: $px16 0 0;
    padding: $px16 0 0;

    @include bp(tablet) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-size: $font-size-m;
    }
  }
  
  &__address {
    &:last-child {
      margin: $px10 0 0;
      
      @include bp(tablet) {
        margin: 0 0 0 rem-calc(50px);
      }
    }
  }
}
