.ca-prompt {
  $block: &;
  background: $c-white;
  width: 90vw;
  @include bp(tablet) {
    width: rem-calc(480px);
  }
  &__header {
    height: rem-calc(58px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $border-light;
    padding: 0 $px20;
  }
  &__title {
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
  }
  &__close {
    cursor: pointer;
    font-size: $px20;
    line-height: 0;
  }
  &__body {
    padding: $px32 $px20;
  }
  &__footer {
    padding: $px20 $px20 $px12;
    border-top: $border-light;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    @include bp(tablet) {
      padding: 0 $px20;
      height: rem-calc(75px);
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &__button.ca-button {
    @include bp(phone-only) {
      width: 100%;
    }
  }
}
