.ca-slider {
  touch-action: pan-y pinch-zoom;
  position: relative;

  &__lane-wrap {
    overflow: hidden;
  }

  &__lane {
    display: flex;
    /* stylelint-disable */
    transform: translateX(
      calc(
        var(--current-slide) * (var(--slider-item-width, 100%) * (-1)) +
          (var(--slider-offset, 0) * 1px)
      )
    );
    /* stylelint-enable */
    position: relative;
    width: 100%;

    &--centered {
      left: calc((100% - var(--slider-item-width, 100%)) / 2);
    }

    &--sliding {
      transition: transform 200ms;
    }

    &--copy {
      position: absolute;
      top: 0;
    }
  }
}
