.ca-widget-text-on-image {
  $block: &;

  &__content {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__heading {
    display: flex;
    font-size: 8vw;
    padding: rem-calc(5px) rem-calc(12px);
    white-space: nowrap;

    @include bp(tablet) {
      font-size: 2.4vw;
    }

    @include bp(laptop) {
      font-size: 3rem;
    }

    & + #{$block}__button {
      margin-top: 1.5em;
    }
  }

  &__subheading {
    display: flex;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    padding: rem-calc(5px) rem-calc(12px);
    white-space: nowrap;

    & + #{$block}__heading {
      margin-top: rem-calc(12px);
    }

    & + #{$block}__button {
      margin-top: 1.5em;
    }
  }

  &__inner {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  &__button {
    line-height: 1.4;
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    & + #{$block}__button-secondary {
      bottom: rem-calc(10%);
    }
  }

  &__button-secondary {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__video {
    position: absolute;

    &--playing {
      position: static;
    }
  }

  &__image {
    transform: scale(1);
    transition: transform 300ms ease;
  }

  &__image-wrap {
    overflow: hidden;
  }

  #{$block}__inner {
    @include bp(laptop) {
      &:hover {
        #{$block}__image {
          transform: scale(1.015);
        }
      }
    }
  }
}
