.ca-widget-container {
  display: grid;
  column-gap: $widget-spacing;
  row-gap: $widget-spacing;
  grid-template-columns: 1fr;

  &:not(:first-child) {
    margin: $widget-spacing 0 0;
  }
  @include bp(tablet) {
    column-gap: $widget-spacing-desktop;
    row-gap: $widget-spacing-desktop;
    &:not(:first-child) {
      margin: $widget-spacing-desktop 0 0;
    }

    &--half {
      grid-template-columns: 1fr 1fr;
    }
    &--third {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &--fourth {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
