.ca-widget-text {
  $block: &;
  text-align: center;
  padding: $px12 0;
  &__title {
    font-family: $heading-font;
    font-weight: $font-weight-bold;
    font-size: $font-size-xxl;
    & + #{$block}__subtitle {
      margin-top: $px4;
    }
  }
  &__subtitle {
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    & + #{$block}__body {
      margin-top: $px8;
    }
  }
  &__body {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
