@ralph:registry=https://carismarsoftware.pkgs.visualstudio.com/Ralph/_packaging/ProjectRalph/npm/registry/

always-auth=true

; begin auth token
//carismarsoftware.pkgs.visualstudio.com/Ralph/_packaging/ProjectRalph/npm/registry/:username=carismarsoftware
//carismarsoftware.pkgs.visualstudio.com/Ralph/_packaging/ProjectRalph/npm/registry/:_password=eHdkYnBtenk0aHZ4a2cydXN5d3hyY3VoNGxkbmw0dGJ3N2g1Z3dvYjN5MnRwZzZtaWtmcQ==
//carismarsoftware.pkgs.visualstudio.com/Ralph/_packaging/ProjectRalph/npm/registry/:email=npm requires email to be set but doesn't use the value
//carismarsoftware.pkgs.visualstudio.com/Ralph/_packaging/ProjectRalph/npm/:username=carismarsoftware
//carismarsoftware.pkgs.visualstudio.com/Ralph/_packaging/ProjectRalph/npm/:_password=eHdkYnBtenk0aHZ4a2cydXN5d3hyY3VoNGxkbmw0dGJ3N2g1Z3dvYjN5MnRwZzZtaWtmcQ==
//carismarsoftware.pkgs.visualstudio.com/Ralph/_packaging/ProjectRalph/npm/:email=npm requires email to be set but doesn't use the value
; end auth token