{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "at-rule-no-unknown": null,
    "function-no-unknown": null,
    "selector-class-pattern": null,
    "scss/operator-no-unspaced": null
  }
}
