{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "scss/operator-no-newline-after": null,
    "rule-empty-line-before": [
      "always-multi-line",
      { "ignore": ["after-comment", "first-nested"] }
    ]
  }
}
