@mixin valign {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
}

@mixin halign {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

@mixin calign {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
