.ca-active-filters {
  display: flex;
  flex-wrap: wrap;
  margin: rem-calc(-6px) rem-calc(-6px) rem-calc(20px);
  &__filter {
    padding: rem-calc(6px) rem-calc(10px);
    background: $c-light-gray;
    border: $border-dark;
    display: flex;
    align-items: center;
    margin: rem-calc(6px);
  }
  &__remove {
    line-height: 0;
    margin: 0 0 0 rem-calc(7px);
  }
  &__reset {
    text-decoration: underline;
    text-align: left;
    margin: rem-calc(6px);
    padding: 0 0 0 rem-calc(10px);
  }
}
