.ca-breadcrumbs {
  font-size: $font-size-s;
  color: var(--secondary-text-color, $c-text-secondary);
  margin: 0 0 $px12;

  @include bp(laptop) {
    margin: 0 0 $px16;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
  }

  &__item:not(:first-child)::before {
    content: '/';
    margin-right: 0.2rem;
  }
}
