.ca-container {
  position: relative;
  margin: 0 auto;
  width: calc(100% - #{$default-spacing});
  @include bp(tablet) {
    width: calc(100% - #{$default-spacing * 2});
  }
  &--default {
    max-width: $site-width;
  }
  &--slim {
    max-width: $site-width-slim;
  }
  &--full {
    max-width: none;
    width: 100%;
    @include bp(tablet) {
      width: 100%;
    }
  }
}
