.ca-customer-type-toggle {
  &__toggles {
    display: flex;
  }
  &__link {
    &:not(:last-child) {
      margin-right: $px8;
    }
    &--active {
      font-weight: $font-weight-bold;
    }
  }
  &__authenticated {
    color: $c-text-secondary;
  }
}
