.ca-color-picker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &__circle {
    display: block;
    width: rem-calc(26px);
    height: rem-calc(26px);
    border-radius: 50%;
    border: $border-light;
    margin: $px4 0;
    position: relative;
    &:not(:last-child) {
      margin-right: $px20;
    }
    &:before {
      content: '';
      width: rem-calc(34px);
      height: rem-calc(34px);
      display: block;
      border: 1px solid transparent;
      transition: border-color 200ms ease;
      @include calign;
      border-radius: 50%;
    }
    &:hover:before {
      border-color: $c-border-dark;
    }
    &--current {
      outline: none;
      &:before,
      &:hover:before {
        border-color: #000;
      }
    }
  }
}
