.ca-checkout-section {
  $block: &;
  margin-top: $px32;

  &__title {
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    line-height: 2;
    margin-bottom: $px4;
    text-align: center;
    margin-top: $px32;

    @include bp(laptop) {
      font-size: $font-size-l;
      margin-bottom: $px12;
    }
  }
  &__content {
    background: $c-white;
    padding: $px20 $px12;
    position: relative;
    min-height: rem-calc(100px);
    @include bp(tablet) {
      padding: $px32;
    }
  }
  &__loading {
    @include flex-calign;
    background: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  &__spinner.ca-spinner {
    border-color: var(--accent-color, $c-accent-color);
    width: 30px;
    height: 30px;
  }

  &__guard {
    background: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  &__guard-info {
    @include halign;
    background: $c-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: $px56;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    padding: $px24;
    font-size: $font-size-l;
    text-align: center;
    width: 90%;
    @include bp(tablet) {
      width: 50%;
    }
  }

  &__guard-icon {
    font-size: rem-calc(24px);
    margin: 0 0 $px10;
    color: $c-info;
  }

  &--arrow #{$block}__content::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid $c-white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }
}
