.ca-checkout-section {
  $block: &;
  margin-top: $px32;

  &__title {
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
    line-height: 2;
    margin-bottom: $px4;
    text-align: center;
    margin-top: $px32;
    @include bp(laptop) {
      font-size: $font-size-l;
      margin-bottom: $px12;
    }
  }
  &__content {
    background: $c-white;
    padding: $px20 $px12;
    position: relative;
    min-height: rem-calc(100px);
    @include bp(tablet) {
      padding: $px32;
    }
  }
  &__loading {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    @include flex-calign;
  }
  &__spinner.ca-spinner {
    border-color: $c-accent-color;
    width: 30px;
    height: 30px;
  }

  &--arrow #{$block}__content::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid $c-white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }
}
