.ca-icon-and-text {
  $block: &;

  --text-and-icon-spacing: #{$text-and-icon-spacing};

  display: inline-flex;
  align-items: center;
  gap: var(--text-and-icon-spacing, $text-and-icon-spacing);

  &--right {
    flex-direction: row-reverse;
  }

  &--top {
    flex-direction: column;
    justify-content: center;
  }
}
