.ca-input-text {
  $block: &;
  position: relative;
  transition: border 0.2s ease;
  height: 50px;
  border: $input-border;
  background: $c-input-background;
  &__wrap {
    & + & {
      margin: $px16 0 0;
    }
  }
  &__label {
    left: $px10;
    transition: all 0.2s ease;
    pointer-events: none;
    padding: rem-calc(1px) rem-calc(6px);
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    font-size: $font-size-xs;
    border-radius: rem-calc(10px);
    background: inherit;
  }
  &__optional {
    font-size: 0.8em;
    margin-left: 2px;
  }

  &__input {
    border: none;
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    font-size: $font-size-s;
    padding: $px4 $px16 0 $px16;
  }

  &__spinner {
    @include valign;
    right: $px16;
    background: $c-input-background;
  }

  &__toggle-password {
    @include valign;
    right: $px16;
    padding: $px4 $px10;
    background: $c-medium-gray;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
  }

  &--empty {
    &:not(#{$block}--focused) {
      #{$block}__label {
        top: 50%;
        font-size: $font-size-s;
      }
    }
  }
  &--focused {
    border-color: $c-input-focused-border;
    #{$block}__label {
      font-weight: $font-weight-bold;
    }
  }
  &--error {
    #{$block}__container {
      //border-color: $feedback-red;

      //   @include icon($info) {
      //     //color: $feedback-red;
      //     @include valign;
      //     right: 20px;
      //     font-size: 1.2em;
      //   }
    }
  }
}
