$textarea-border-radius: $input-border-radius !default;
.ca-input-textarea {
  $block: &;
  position: relative;
  transition: border 0.2s ease;
  border: $input-border;
  background: $c-input-background;
  border-radius: $textarea-border-radius;
  line-height: 0;
  &__wrap {
    & + & {
      margin: $px16 0 0;
    }
  }
  &__label {
    left: $px10;
    transition: transform 0.2s ease;
    pointer-events: none;
    padding: rem-calc(1px) rem-calc(6px);
    position: absolute;
    transform: translateY(-50%) scale(1);
    transform-origin: left center;
    top: 0;
    font-size: $font-size-xs;
    border-radius: rem-calc(10px);
    background: $c-input-background;
    line-height: $body-line-height;
  }
  &__optional {
    font-size: 0.8em;
    margin-left: 2px;
    font-weight: $font-weight-normal;
    color: $c-text-secondary;
  }

  &__textarea {
    border: none;
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 6em;
    background: transparent;
    outline: none;
    font-size: $font-size-s;
    padding: $px16;
    border-radius: $input-border-radius;
    line-height: $body-line-height;
    &:focus-visible {
      box-shadow: none;
    }
  }

  &__error-icon {
    @include valign;
    right: $px16;
    color: $c-error;
  }

  &__help-text {
    font-size: $font-size-xs;
    padding: $px4 0 0 $px16;
    color: $c-text-secondary;
    &--error {
      color: $c-error;
    }
  }

  &--empty {
    &:not(#{$block}--focused) {
      #{$block}__label {
        transform: translateY(68%) scale(1.15);
      }
    }
  }
  &--focused {
    border-color: $c-input-focused-border;
    #{$block}__label {
      font-weight: $font-weight-bold;
    }
  }
  &--error {
    border-color: $c-error;
    #{$block}__label {
      color: $c-error;
      // font-weight: $font-weight-bold;
    }
  }
}
