.ca-input-textarea {
  $block: &;
  position: relative;
  transition: border 0.2s ease;
  border: $input-border;
  background: $c-input-background;
  border-radius: $textarea-border-radius;
  &__wrap {
    & + & {
      margin: $px16 0 0;
    }
  }
  &__label {
    left: $px10;
    transition: all 0.2s ease;
    pointer-events: none;
    padding: rem-calc(1px) rem-calc(6px);
    position: absolute;
    transform: translateY(-50%);
    top: 0;
    font-size: $font-size-xs;
    border-radius: rem-calc(10px);
    background: inherit;
  }
  &__optional {
    font-size: 0.8em;
    margin-left: 2px;
    transition: inherit;
  }

  &__textarea {
    border: none;
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 6em;
    background: transparent;
    outline: none;
    font-size: $font-size-s;
    padding: $px4 $px16 0 $px16;
    border-radius: $input-border-radius;
    &:focus-visible {
      box-shadow: none;
    }
  }

  &__error-icon {
    @include valign;
    right: $px16;
    color: $c-error;
  }

  &__help-text {
    font-size: $font-size-xs;
    padding: $px4 0 0 $px16;
    &--error {
      color: $c-error;
    }
  }

  &--empty {
    &:not(#{$block}--focused) {
      #{$block}__label {
        top: $px20;
        font-size: $font-size-s;
      }
    }
  }
  &--focused {
    border-color: $c-input-focused-border;
    #{$block}__label {
      font-weight: $font-weight-bold;
    }
  }
  &--error {
    border-color: $c-error;
    #{$block}__label {
      color: $c-error;
      font-weight: $font-weight-bold;
    }
  }
}
