.ca-list-count-bar {
  height: 5px;
  position: relative;
  background-color: var(--count-bar-background-color, #ccc);
  border-radius: $default-radius;
  overflow: hidden;
  margin: 0 0 15px;
  display: none;
  display: var(--count-bar-visible, block);
  width: 200px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc((var(--min-count) / var(--total-count)) * 100%);
    width: calc((var(--product-count) / var(--total-count)) * 100%);
    background-color: var(--count-bar-active-color, #000);
  }
}
