.ca-notification-badge {
  @include flex-calign;
  background: $c-notification-badge-bg;
  color: $c-notification-badge-txt;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  font-weight: $font-weight-bold;
  font-size: $font-size-xs;

  &--positioned {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -20%);
  }
}
