.ca-product-price-history {
  width: 100%;
  color: $c-text-primary;

  &__list-item {
    padding:10px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: $font-weight-bold;
  }

  &__lowest, &__year {
    margin: 0 $px8;
  }
}
