$c-in-stock: #00aa55 !default;
$c-out-of-stock: #d10a0a !default;
$c-oversellable: #fab300 !default;
$c-few-left: $c-oversellable !default;
$c-static-stock: $c-in-stock !default;
.ca-stock-display {
  display: flex;
  align-items: center;
  column-gap: 0.6em;
  font-weight: $font-weight-bold;
  &::before {
    content: '';
    display: block;
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
  }

  &__delivery-time {
    font-weight: $font-weight-normal;
    font-size: 0.9em;
  }
  &--in-stock {
    &::before {
      background-color: $c-in-stock;
    }
  }
  &--out-of-stock {
    &::before {
      background-color: $c-out-of-stock;
    }
  }
  &--oversellable {
    &::before {
      background-color: $c-oversellable;
    }
  }
  &--few-left {
    &::before {
      background-color: $c-few-left;
    }
  }
  &--static {
    &::before {
      background-color: $c-static-stock;
    }
  }
}
