.ca-status-label {
  border-radius: rem-calc(4px);
  padding: rem-calc(2px) rem-calc(6px);
  display: inline-block;
  text-transform: uppercase;
  &--inactive {
    background-color: $c-medium-gray;
  }
  &--active,
  &--pending {
    background-color: $c-ok;
  }
  &--completed {
    background-color: $c-success;
    color: $c-text-inverse;
  }
  &--cancelled {
    background-color: $c-error;
    color: $c-text-inverse;
  }
}
