.ca-toggle-favorite {
  $block: &;

  @include iconCircle;

  width: rem-calc(40px);
  height: rem-calc(40px);
  position: absolute;
  right: 0;
  top: 0;
  font-size: rem-calc(18px);
  color: $c-text-secondary;
  transition: all 150ms ease;

  &--active {
    color: $c-white;
    background-color: $c-sale;
  }
}
