.ca-market-panel {
  $block: &;

  &__simple-list,
  &__wrap {
    background-color: $c-lightest-gray;
  }

  &__opt {
    display: flex;
  }

  &__choice {
    $elem: &;

    height: rem-calc(60px);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 $px24;
    border-bottom: $border-light;
    font-size: $font-size-m;

    &--chosen {
      background-color: $c-lightest-gray;
      font-weight: $font-weight-bold;
    }

    &--disabled {
      color: $c-text-secondary;
      pointer-events: none;
    }
  }

  &__flag {
    margin-right: $px12;
  }

  &__currency {
    margin-left: $px8;
    font-size: $font-size-xs;
  }

  &__wrap {
    padding: $px24;
  }
}
