@import "../helpers/colors";
:root {
  // Text colors
  --c-text-primary: #222222;
  --c-text-secondary: #878787;
  --c-text-inverse: #ffffff;

  //Overlay
  --c-overlay: rgba(0, 0, 0, 0.3);

  //Feedback/Support
  --c-success: #60bf64;
  --c-error: #ec2424;
}
