@import "../helpers/rem-calc";
:root {
  // Font family
  --body-font-family: "Roboto", serif;
  --heading-font-family: "Roboto", serif;

  // Font weight
  --font-weight-normal: 400;
  --font-weight-bold: 500;

  // Font size
  --font-size-xs: rem-calc(12px);
  --font-size-s: rem-calc(14px);
  --font-size-m: rem-calc(16px);
  --font-size-l: rem-calc(18px);
  --font-size-xl: rem-calc(20px);
  --font-size-xl: rem-calc(24px);
}
